
# Diese Dateien werden beim kompilieren erzeugt:
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ilg
*.ist
*.lof
*.log
*.lot
*.nlo
*.nls*
*.out
*.run.xml
*.slg
*.syg
*.syi
*.sub
*.suc
*.syc
*.sym
*.synctex.gz
*.tdo
*.toc
